# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Unit test / coverage reports
htmlcov/
.coverage
.coverage.*
coverage.xml
*.cover
*.py,cover
.pytest_cache/
cover/

# Environments
.env

# mypy
.mypy_cache/

# ruff
.ruff_cache/

# Local data
notebooks/

# macOS
.DS_Store

#vscode
.vscode/

#uv
.venv/
